
progjar4c/.idea/inspectionProfiles/profiles_settings.xml
progjar4c/.idea/misc.xml
progjar4c/.idea/modules.xml
progjar4c/.idea/progjar4c.iml
progjar4c/.idea/vcs.xml
progjar4c/__pycache__/chat.cpython-39.pyc
progjar4c/GammaCorrectionCommon.hlsl
progjar4c/__pycache__/chat.cpython-39.pyc
progjar4c/message.txt
FPGaes/progjar6/.idea/workspace.xml
